*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: url(/images/cool.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
label{
    font-family:'Times New Roman', Times, serif;
    color: #0e43f1;
    font-size: 15px;
    
}
input{
    padding: 8px;
    border-radius: 5px;
    margin: 10px 20px;

}
.survey-form{
    width: 500px;
    margin-left: 35%;
    background-color:#00DDFF ;
}
#title{
    text-align: center;
    margin-left: 70px;
    font-size: 40px;
}
#sentence{
    text-align: center;
    font-size: 20px;
    margin-left: 70px;
}
#label{
    margin-top: 5%;
}
#finish{
    margin-top: 5%;
    padding-top: 5%;
}
#submt{
    padding: 2%;
    background:#0e43f1;
}
#comment{
    margin-top: 5%;
    padding-bottom: 5%;
}